body{
background-color: hsl(30, 38%, 92%);
font-family:sans-serif;
font-size: 14px;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
}
h1{
color: hsl(212, 21%, 14%);
font-weight: 700;
font-size: 2rem;
font-family: 'Fraunces', serif;
}
h2{
color:hsl(158, 36%, 37%) ;
font-weight: 700;
font-size: 2rem;
font-family: 'Fraunces', serif;
}
p{
color: hsl(228, 12%, 40%);
line-height: 1.5rem;
}
.card{
background-color: hsl(0, 0%, 100%);
margin: 1rem;
border-radius: .8rem;
}
article{
  padding: 0 1rem 1rem 1rem ;
}
.product-image-mobile{
display: block;
width: 100%;
border-radius: .8rem .8rem 0 0;
}
.product-image-desktop{
  display: none;
  }
button{
background-color:hsl(158, 36%, 37%) ;
width: 100%;
height: 3rem;
border: none;
border-radius: 0.8rem;
color:hsl(0, 0%, 100%);
cursor: pointer;
}
.cart-icon{
margin:0 1rem 0 0;
}
a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.price{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.price p {
  margin-top: 1rem;
}
.cutted-number{
  padding-top: 1rem;
  text-decoration: line-through;
}
.attribution {
font-size: 11px; 
text-align: center; }
.attribution a { 
color: hsl(228, 45%, 44%); }color: hsl(228, 45%, 44%); }
@media screen and (min-width:1140px) {
.card{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 5rem;
}
.product-image-desktop{
  display: block;
  width: 100%;
  border-radius: .8rem 0 0 .8rem ;
}
article{
  width: 50%;
  padding: 2rem ;
}
.product-image-mobile{
  display: none;
}
body{
  font-size:20px;
}
h1{
  font-size:4rem ;
}
h2{
  font-size:4rem ;
}
.cutted-number{
  padding-top: 4rem;
}
}